@charset "UTF-8";

@import url(reset.css);
@import url(font.css);

html {font-size: 10px;}
body {font-size: 1.6rem; color: var(--txt_gray2);}
::placeholder {color: var(--txt_gray1);}
:focus::placeholder {color: var(--txt_gray3);}

body {
    --mainC1 : #B7092F;
    --mainC1_o : #9b0223;
    --mainC2 : #065B6B;

    --bdC1 : #9cbcc3;
    --bdC1_o : #689aa4;
    --bdC2 : #d1d1d1;

    --txt_gray1:#aaa;
    --txt_gray1_o:#959595;
    --txt_gray2:#323232;
    --txt_gray3:#ccc;

    --white : #fff;
    --bgLight1 : #f0f0f0;
    --black : #000;
    --bgDark1 : #151515;
}

.pc {display: block;}
.mo {display: none}
.centerbox {max-width: 1800px; margin: 0 auto; padding: 0 30px;}
.btn1 {background: var(--bgDark1); color: var(--white); padding: 1em 2.5em; border-radius: 50px;}
.btnC1 {background: var(--mainC1); }
.btnC1:hover {background: var(--mainC1_o); }

header {margin-top: 10px; font-family: 'Paperlogy-5Medium';}
header .topmenu {margin-bottom: 1rem;}
header .topmenu .login_wrap {padding-right: 10px;}
header .topmenu .login_wrap .login_box {display: flex; justify-content: flex-end; gap: 2rem; }
header .topmenu .login_wrap .login_after {display: none;}

.derbox a {opacity: 0.7; display: flex; gap: 5px; align-items: center;}
.derbox a:hover {opacity: 1; text-decoration: underline; text-underline-position:under}

a.der {opacity: 0.7; display: flex; gap: 5px; align-items: center;}
a.der:hover {opacity: 1; text-decoration: underline; text-underline-position:under}

header .topmenu a img {width: 30px;}

header .topset {display: flex; justify-content: space-between; align-items: center; }
header .topset h1 {}
header .topset h1 img {width: 100%;}

header .topset nav {display: flex;}
header .topset nav .gnb {display: flex; font-family: 'Paperlogy-6SemiBold'; margin-right: 40px;}
header .topset nav .gnb > li {font-size: 1.9rem; display: flex; position: relative; }
header .topset nav .gnb > li > a {display: flex; align-items: center; padding: 0 2.5vw; }
header .topset nav .gnb > li:hover > a {color: var(--mainC2);}

header .topset nav .gnb .lnb {position: absolute; width: 100%; top: 100%; display: none;}
header .topset nav .gnb > li:hover .lnb {display: block;}

header .topset nav .gnb .lnb li {text-align: center; font-size: 1.7rem; font-family: 'Paperlogy-5Medium'; border-radius: 6px;}
header .topset nav .gnb .lnb li a {display: block; padding: 1.5rem 0; }
header .topset nav .gnb .lnb li:hover {background: var(--mainC2);}
header .topset nav .gnb .lnb li:hover a {color: #fff;}

header .topset .search_box {position: relative; }

header .topset .search_box input {font-size: 1.8rem; padding: 1em 3em 1em 1em; background: none; outline: 1px solid var(--txt_gray1); border-radius: 50px; }
/* header .topset .search_box:hover input {border: 1px solid var(--bdC1_o);} */

header .topset .search_box input:focus {outline: 2px solid #000;}

header .topset .search_box button {position: absolute; right: 5px; height: 100%;}
header .topset .search_box button svg {fill: var(--txt_gray1_o);}
header .topset .search_box button.on svg {fill: var(--black);}

header .topset .btn_box {display: flex; align-items: center; margin-left: 5rem; font-size: 1.8rem;}
header .topset .btn_box .btn_port {}





footer {display: flex; border-top: 1px solid var(--txt_gray3); padding: 5rem; display: flex; justify-content: center; color: var(--txt_gray2);}





/* subpage */
#subpage {min-height: 70vh; border-top: 1px solid #eee;}
#subpage h2.sub_title {text-align: center; margin: 10rem 0 5rem 0; font-size: 3.6rem;}
#subpage .content_box {border: 1px solid #eee;}


@media screen and (max-width:1440px) {    
    header .topset {justify-content: center;}
    header .topset h1 {position: absolute; top: 0; width: 120px;}
    header .topset nav .btn_box {}
    header .topset nav .btn_box .btn1 {padding: 0.7em 2em;}
    header .topset nav .gnb {margin-right: 3vw;}
    header .topset nav .gnb li a {padding: 2vw 2vw;}
    header .topset nav .btn_box {}
    header .topset .search_box {display: flex;align-items: center;}
    header .topset .search_box input { padding: 0.5em 3em 0.8em 1em; width: 170px; }
}

@media screen and (max-width:1100px) {
    .pc {display: none;}
    .mo {display: block}
    header .topset {margin-top: 50px;}
    header .topset nav .btn_box  {position: absolute; right: 30px; top: 7px; /* padding: 0.7em 2em; */}
    header .topset .search_box button {}
    header .topmenu {position: absolute; left: 0px; top: 4px; padding: 0.7em 2em;}
    header .topmenu .hamburger {position: absolute; width: 30px; height: 30px; }
    header .topmenu .hamburger span {position: absolute; width: 90%; height: 1px; background: #000; top: 50%; left: 50%; transform: translate(-50%,-50%);}
    header .topmenu .hamburger span::before,
    header .topmenu .hamburger span::after {content: ""; position: absolute; width: 100%; height: 100%; background: inherit; left: 0; top: -8px;;}
    header .topmenu .hamburger span::after {top: 8px;}

    header .topmenu .login_wrap  {display: none;}
    header .topmenu .login_wrap .login_box {position: absolute; min-width: 250px; border:1px solid #000; height: 400px; top: 50px; background: #fff; z-index: 7; justify-content:  center; padding: 20px; align-items: start;}
    header .topmenu .login_wrap .login_box a {flex-direction: column;}
}
@media screen and (max-width:840px) {
    .centerbox {padding: 0 15px;}
    header {}
    header .topmenu .hamburger {left: 15px;}
    header .topset nav {flex-direction: column; margin-top: 30px; }
    header .topset nav .gnb {order: 2; height: auto; }
    header .topset nav .gnb > li {font-size: 1.8rem;}
    header .topset nav .gnb li a {padding: 4vw 2vw;}
    header .topset nav .search_box {order: 1; }
    header .topset nav .search_box input {padding: 0.6em 3em 0.6em 1em; width: 100%;}
    header .topset .search_box button {top: 0;}
    header .topset .btn_box .btn1 {right: 15px;padding: 0.5em 1em;}
    

}
